{% extends 'IgaOAuthBundle::layout.html.twig' %}

{% block main %}
            <h2>Conéctate a eventum</h2>
                    <div class="centered">
                        <h2> Contacting Google...</h2>
    </div>
{% endblock %}