{% extends 'IgaOAuthBundle::layout.html.twig' %}
{% block row %}
<div class="span10">
{% block main %}
{% endblock %}
</div>
<div class="span4">
{% block sidebar %}
{% endblock %}

</div>
{% endblock %}
