{% extends 'IgaOAuthBundle::layout.html.twig' %}

{% block head %}
<div style="float:right"><a class="btn success large" href="{{ path('event_new') }}">Crear Evento</a></div>
{% endblock %}
{% block main %}
            <h2>Próximos eventos</h2>


                    <div class="centered">
<h4>to fetch events</h4>                  

</div>
{% endblock %}