<table class="zebra-striped">
    {% for result in search.results %}
    <tr>
        <td class="addrss" lat="{{ result.geometry.location.lng }}" lng="{{ result.geometry.location.lat }}">{{ result.formatted_address }}</td>
        <td><a class="btn success choose">Elegir</a></td>
    </tr>
    {% endfor %}
</table>