{% extends 'IgaOAuthBundle::layout.html.twig' %}

{% block main %}
            <h2>Conéctate a eventum</h2>


                    <div class="centered">
                   <a class="btn large success" href="{{ path('GoogleToken') }}"><img height="14px" src="{{ asset('bundles/igaoauth/images/google.png') }}"> Conéctate con Google </a>
                   <a class="btn large primary" href="#facebook"><img height="14px" src="{{ asset('bundles/igaoauth/images/facebook.png') }}"> Conéctate con Facebook </a>
                   <a class="btn large info" href="#twitter"><img height="14px" src="{{ asset('bundles/igaoauth/images/twitter.png') }}"> Conéctate con Twitter </a>
      </div>
{% endblock %}