{% extends 'IgaOAuthBundle::sidelayout.html.twig' %}
{% block main %}
{% if photos %}
{% for photo in photos %}
<img src="{{ photo.src }}">
{% endfor %}
{% endif %}
{% endblock %}
{% block sidebar %}
{% for album in albums %}
<h3><a href="{{ path('picasaAlbum',{ 'id' : album.id }) }}">{{ album.title }}</a></h3>


{% endfor %}
{% endblock %}