img.map { margin: 5px; float: left; }
.attrs { float: left; margin: 5px; }
a.btn.right { float:right; height: 50px; margin: 10px; width: 70px; padding: 12px; font-size: 18px; text-transform: uppercase;}